:root {
  --primary-color: #f0f0f0;
  --white-color:rgba(229, 233, 252, 1) 2%;
  --secondary-color:#FAEAB1;
  --util-color:#144272;
  --light-util-color:#E5BA73;
  --footer-bg:#6798bb;
  color-scheme: light dark;
}
body.dark-mode {
  --primary-color: #2D033B;
  --white-color:rgba(0, 68, 117, 1) 100%;
  --secondary-color:#0A2647;
  --util-color:#C58940;
  --light-util-color:#2C74B3;
  --footer-bg:#374e5e;

}
